.footer {
  // margin-bottom: 100px;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-top: 30px;
  // border-top: 2px solid $grey-separator-color;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    
  }
}

  &__flex-adress {
    color: $main-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 21px;
    

    a {
      display: inline;
      color: $regular-color;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      order: 1;
      align-items: center;
      margin-bottom: 0;
      gap: 26px;
      flex: 1 1 47%;
    }
  }

  &__flex-dot {

    position: relative;

    @media (min-width: $breakpoint-md) {
      &::before {
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        position: absolute;
        width: 6px;
        height: 6px;
        background: $grey-text-color;
        border-radius: 50%;
      }
    }
    
  }

  &__flex-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      order: 3;
      gap: 26px;
    }
  }

  &__flex-faceb {
    width: 38px;
    height: 38px;
    position: relative;
    
    @media (min-width: $breakpoint-md) {
      &::before {
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        position: absolute;
        width: 6px;
        height: 6px;
        background: $grey-text-color;
        border-radius: 50%;
      }
    }
    
  }

  &__flex-facebook {
    width: 100%;
    height: 100%;
    fill: $regular-color;
    transition: $main-animation;

    &:hover {
      fill: $accent-color;
    }
  }

  &__flex-phone {
    color: $alt-color;
    font-weight: 700;
    position: relative;


    @media (min-width: $breakpoint-md) {
      &::before {
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -16px;
        position: absolute;
        width: 6px;
        height: 6px;
        background: $grey-text-color;
        border-radius: 50%;
      }
    }

    
  }

  &__flex-email {
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
    color: $regular-color;
    transition: $main-animation;

    &:hover {
      color: $accent-color;
    }
  }

  &__flex-copyrights {
    background: $grey-text-color;
    color: transparent;
    background-clip: text;

    @media (min-width: $breakpoint-md) {
      display: flex;
    flex-direction: column;
    order: 2;
    flex: 1 1 48%;
    text-align: right;
    }
    

  }
}
