

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  overflow-x: hidden;
}

.wrapper {

  
  background: $gradient-super-soft;
  border-radius: 0px 0px 12px 12px;
  position: relative;
  margin-bottom: 50px;

  &::before {
    content: '';
    position: absolute;
    bottom:-10px;
    left: 20px;
    height: 10px;
    width: calc(100% - 40px);
    background: #000;
    border-radius: 0px 0px 12px 12px;
background: #CACADB;
  }

  &::after {
    content: '';
    position: absolute;
    bottom:-20px;
    left: 40px;
    height: 10px;
    width: calc(100% - 80px);
    background: #000;
    border-radius: 0px 0px 12px 12px;
    background: #E7E7F2;
    
  }


  &.wrapper-no-bg {
    background: $white-color;
    margin-bottom: 0;

    &::before, &::after {
      content: '';
      width: 0;height: 0;
    }
  }
}



.container {
  padding: 0 30px;

  @media (min-width: $breakpoint-md) {
    max-width: 708px;
    margin: 0 auto;
    
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 964px;
    position: relative;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1380px;
  }
  @media (min-width: $breakpoint-xxl) {
    max-width: 1660px;
  }
}


.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: $white-color;
}


.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  
  // display: none;
}

.bg-for-publications-footer {
  background: $grey-color;
}


