
.header {
  color: $white-color;

		&__container {
		}

		&__main {
      min-height: 100vh;
      display: flex;
      flex-flow: column;
		}

		&__head {
		}

		&__social {
		}

		&__lang {
		}

		&__lang-item {
		}

		&__social-adress {
		}

		&__social-phone {
		}

		&__social-faceb {
		}

		&__logo {
		}

		&__logo-link {
		}

		&__logo-logo {
		}

		&__burger {
		}

		&__nav {
		}

		&__nav-close {
		}

		&__nav-list {
		}

		&__nav-item {
		}

		&__nav-link {
		}

		&__inner {
		}

		&__inner-title {
		}

		&__goto {
		}
}



.header-social {

		&__item {
		}
}


.active {
}
.main-title {
}
