

.services {
  @media (min-width: $breakpoint-xl) {
    max-width: 1080px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-xxl) {
    max-width: 1360px;
    margin: 0 auto;
  }

  &__promoution {
  }

  &__promoution-inner {
    &.commerce__promoution-inner {
      // border-bottom: 4px solid rgba(255, 255, 255, 0.50);

    }
  }

  &__promoution-section {
    &.commerce__promoution-section {
      padding-top: 60px;
    }
  }

  &__promoution-logo {
    &.commerce__promoution-logo {
      margin: 30px auto 28px;

      @media (min-width: $breakpoint-md) {
        margin: 0 auto 42px;
      }
    }
  }


  &__promoution-content {
    &.commerce__promoution-content {
      h3 {
        @include gradient-text;
        text-align: center;
        margin-bottom: 28px;

        @media (min-width: $breakpoint-md) {
          font-size: 38px;
          
        }        
      }

      p {
        text-align: center;
        font-size: 19px;
        margin-bottom: 28px;
        line-height: 30px;
        
      }
    }
  }
}
.commerce {
  &__promoution-btn {
    text-align: center;
  }

  &__promoution-button {
    padding: 18px 30px;
    background: $regular-color;
    display: inline-block;
    border-radius: 12px;
    color: $white-color;
    font-weight: 700; 
    cursor: pointer;
    transition: $main-animation;

    &:hover {
      background: $regular-active-color;
      
    }
  }
}
